{% extends 'base.html.twig' %}

{% block title %}
    {{advertisement.title}}
{% endblock %}

{% block body %}
    <div class="advertisement-title" style="background-image: url({{ advertisement.coverImage}}); background-repeat: no-repeat; background-position: center;">
        <div class="container">
            <h1>{{advertisement.title}}</h1>
            <p>{{advertisement.introduction}}</p>
            <p class="h2">
                <strong>{{advertisement.rooms}} chambres</strong> pour <strong>{{advertisement.price}} €</strong> par nuit
            </p>
            <a href="#" class="btn btn-primary">Réserver !</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{advertisement.content|raw}}

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    {% for image in advertisement.pictures %}
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" class="active"></li>
                        </ol>
                    {% endfor %}
                    <div class="carousel-inner">
                        {% for image in advertisement.pictures %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{image.url}}" alt="First slide">
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
            <div class="col">
            {% set author = advertisement.author %}
                <div class="row">
                    <div class="col-4">
                        <img src="{{ author.avatar }}" class="avatar avatar-medium" alt="image d'avatar de {{ author.fullName }}"/>                    </div>
                    <div class="col">
                        <h3>{{ author.fullName }}</h3>
                        <span class="badge badge-primary">{{author.advertisements | length}} annonces</span>
                    </div>
                </div>
                {{ author.description | raw}}
            </div>
        </div>
    </div>
    
    
{% endblock %}